/*navbar styling*/
.navbar {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  background-color: #65c6c4;
  color: white;
  z-index: 9999;
  box-shadow: 0 15px 20px -10px rgba(0, 64, 128, .2);
  height: 40px;
}

.navbar a {
  border: solid 1px;
  padding: 5px 12.5px;
  border-radius: 10px;
  margin: 0 1px;
  border-color: #cdeae9;
  font-weight: 900;
  font-size: .8em;
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  position: relative;
  height: 100%;
}

.navbar-ul:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline-block;
}

.navbar-logo {
  border: none;
  float: left;
  margin-left: 5%;
  height: 100%;
}

.navbar-logo:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.navbar-logo a {
  border: none;
  padding: 0;
}

.logo-header {
  font-size: 2em;
  display: inline-block;
}

.logo-header:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.navbar-primary {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar-primary:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.navbar-secondary {
  float:right;
  margin-right: 5%;
  height: 100%;
}

.navbar-secondary:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}

.navbar-link {
  padding: 0 7.5px 0;
  display: inline-block;
  vertical-align: middle;
}

.empty-div {
  width: 100%;
  height: 70px;
}

/* filters styling */

.filter-container {
  text-align: right;
}
.filters-buttton {
  margin-right: 7.5%;
  padding: 5px 7.5px;
  border-radius: 5px;
}

/* flex propertties */
.container {
  display: flex;
  flex-direction: column;
  height: 80%;
}

/* panel styling */
.panel {
  margin: .75% 7.5%;
  padding: 1.5%;
  text-align: left;
  position: relative;
  box-shadow: 0 10px 30px -10px rgba(0, 64, 128, .2);
  border-radius: 5px;
  background-color: white;
  height:120px;
}

.panel:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.post-date {
  position: absolute;
  font-size: .65em;
  color: grey;
  font-style: italic;
  top: 7.5px;
}

.brand-and-reward {
  width: 200px;
  display: inline-block;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  height: 75%;
  vertical-align: middle;
  border-radius: 5px;
  margin: 0 10px 0 0;
  /*background-color: #eafffe;*/
}

.brand-and-reward:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.brand-box {
  width: 45%;
  height: 100%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.line-break {
  height: 100%;
  width: 1px;
  background-color: lightgrey;
  display: inline-block;
  vertical-align: middle;
}

.reward-box {
  width: 45%;
  height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.brand-logo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.reward-amount {
  font-size: 1.8em;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  margin: 0;
  left: 50%;
  color: #65c6c4;
  filter: brightness(90%);
}

.reward-amount:before {
  content: "$";
  font-size: .75em;

}

.split-text {
  color: #bfb7b7;
  font-weight: lighter;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: .75em;
  letter-spacing: .75px;
  font-style: italic;
}

.referral-title {
  width: 65%;
  display: inline-block;
  font-size: 70%;
  vertical-align: middle;
}

.user-info {
  width: 12%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/*tag styling*/
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height:100%;
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: #ededed;
  padding: 0;
  /*font-family: 'Fira Sans', sans-serif;*/
}

button:hover {
  background-color: grey;
  border-radius: 5px;
}

p {
  margin: 0;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #e1ecec;
}

.panel:hover {
  box-shadow: 0 10px 50px -7.5px rgba(0, 64, 128, .2);
  filter: brightness(97%);
}

h2 {
  margin: 0;
}

h1 {
  margin: 0;
}
