<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Victor Wu">
    <title>Split</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <nav>
          <ul>
            <li class="nav-li-logo"><a href="index.html">Split</a></li>
            <li class="nav-li-primary">
              <a href="">Home</a>
              <form class="nav-li-primary-form" action="index.html" method="post">
                <input type="search" onfocus="this.value=''" onmouseover="searchIconMouseOver()" onmouseout="searchIconMouseOut()"name="query" class="query" value="search">
              </form>
            </li>
            <li class="nav-li-secondary">
              <a href="#">Sign In</a>
              <a href="register.html">Register</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="main-content">
      </main>
      <section class="side-section">
        <a class="create-new-offer" href='/offer-form'>
          <i class="fas fa-plus-circle"></i>
          <span class="new-offer-text">NEW OFFER</span>
        </a>
        <div class="my-info-box">
          <div class="profile-picture-box">
            <a class="profile-picture-link" href="#">
              <div class="profile-picture-circle">
                <img class="profile-picture" src="images/iconmonstr-user-1.svg" alt="">
              </div>
            </a>
          </div>
          <div class="profile-info-box">
            <a class = "profile-link" href="">Khaoz346</a>
            <a class = "profile-link" href="">My Profile</a>
            <a class = "profile-link" href="">My Account</a>
          </div>
        </div>
      </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="load-data.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
